/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');
/* styles  */
@import './css/header.css';
@import './css/banner.css';
@import './css/popular_categories.css';
@import './css/new.css';

* {
    margin: 0;
    padding: 0;
    
}
*, ::after, ::before {
    box-sizing: inherit;
}

